{:datomic {:partition             :db.part/starcity
           :tx-report-buffer-size #or [#env TX_REPORT_SIZE 4096]
           :uri                   #or [#env DATOMIC_URI
                                       ^:ref [:secrets :datomic :uri]
                                       "datomic:mem://localhost:4334/starcity"]}

 :log {:level    #profile {:dev     :trace
                           :default :info}
       :appender #profile {:dev     :spit
                           :default :rolling}
       :file     #profile {:dev     "logs/server.log"
                           :default "/var/log/reactor/server.log"}}

 :nrepl {:port #or [#env NREPL_PORT 7887]}


 :hosts {:public #profile {:prod  "https://starcity.com"
                           :stage "https://staging.starcity.com"
                           :dev   "http://localhost:8080"}

         :apply #profile {:prod  "https://apply.starcity.com"
                          :stage "https://apply.staging.starcity.com"
                          :dev   "http://localhost:8081"}}

 :mailgun #profile {:prod    {:domain  "mg.starcity.com"
                              :sender  "Starcity <meg@starcity.com>"
                              :api-key ^:ref [:secrets :mailgun :api-key]}
                    :default {:domain  "sandboxeec004e4d33845edaef9b962843713a7.mailgun.org"
                              :sender  "Mailgun Sandbox <postmaster@sandboxeec004e4d33845edaef9b962843713a7.mailgun.org>"
                              :api-key ^:ref [:secrets :mailgun :api-key]}}

 :secrets #include #env STARCITY_SECRETS}
